<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Pokémon</title>
</head>
<body>
    <header>
        <h1>Welcome to the Pokémon App</h1>
    </header>
    <a href="/players/login" class='sign-in'>Log In</a>  
    <a href="/players/signup" class='sign-in'>Sign Up</a>
</body>
</html>