<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokémon | Login</title>
</head>
<body>
    <h1>Login to the Pokémon App</h1>

    <form action='/players/profile' method='POST'>
        Username: <input type="text" name="username" />
        Password: <input type="text" name="password" />
        <input type="submit" value="Login" />
    </form>
</body>
</html>