<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/css/style.css' type='text/css'>
    <title>Pokédex</title>
</head>
<body>
    <header>
        <h1>Pokémon!</h1>
        <h2>Gotta Catch 'em all!</h2>
    </header>
    
    <a href="/pokemon/new" class='new-link'>Catch New Pokemon!</a>

    <ul class="pokemon">
        <% for (i=0; i < pokemon.length; i++) { %>
        <li>
            <a href="/pokemon/<%=pokemon[i].id%>"><%=pokemon[i].name%></a>
        </li>
    <% } %>
    </ul>
</body>
</html>